/.gitignore
/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h.in
/configure
/doc/epsilon.info
/doc/stamp-vti
/doc/version.texi
/svm/c-instructions.c
/svm/c-instructions.h
/svm/parser.c
/svm/parser.h
/svm/parser.y
/svm/scanner.c
/svm/scanner.l
*.tmp
*.pyc
*.ipynb
/_build
/callgrind.out.*
/cachegrind.out.*
/.emacs.desktop
/.emacs.desktop.lock
